* {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

/* Text */
body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  /* Sets the font size to 16px */
  font-weight: 400;

  /* Sets the font weight to 300 */
  line-height: 1.6;

  /* Sets the line-height to 1.6 * the font-size */
  color: #000;
}

@media only screen and (min-width: 1040px) {
  body {
    font-size: 18px;
  }
}

/* Headings */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

/* images */
img {
  width: 100%;
}

/* links */
a {
  color: #a25c98;
  text-decoration: none;

  /* No underlining */
}

a:visited {
  /* visited link */
  color: #a25c98;
}

a:hover {
  color: #000;
  text-decoration: underline;

  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #000;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: underline;
}

/* buttons */
.button {
  display: inline-block;

  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e7dbe5;
  color: #874d7f;

  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  transition-duration: 0.4s;
  transition-property: color;
}

.button:hover {
  background-color: #874d7f;
  color: #e7dbe5;

  /* needed to override the default link color */
  text-decoration: none;
  opacity: 0.8;
}

/* Layout styling */

/* header */
header {
  background-color: #1a1b1f;
  padding: 30px 0 4px;
  position: fixed;
  width: 100%;
}

.container {
  padding: 0 10px;
}

.row {
  margin: 25px 0;

  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 150px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 16px;
  padding-right: 0;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

main {
  padding-top: 30px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:first-child {
  padding-top: 60px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid (#fff);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

@media only screen and (min-width: 641px) {
  .logo {
    float: left;
    max-width: 250px;
  }

  nav > ul {
    position: absolute;
    right: 0;
    text-align: right;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0px 0 0;
  }

  .navtoggle.responsive li {
    padding: 0px 0;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin-top: -60px;
    text-align: right;
  }

  .navtoggle.responsive li:first-child {
    padding-top: 0px;
  }
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: -60px;
  text-align: right;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 600;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;

  /* No underlining */
}

nav > ul > li > a:visited {
  /* visited link */
  color: #fff;
}

nav > ul > li > a:hover {
  color: #874d7f;
  text-decoration: none;

  /* Underlining when hovering over a link */
}

nav > ul > li > a:active {
  /* selected link */
  color: #fff;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #874d7f;
  text-decoration: none;
}

/* hero */
#hero h1 {
  text-align: center;

  /* Centers text */
  color: #fff;
}

#hero p {
  text-align: center;

  /* Centers text */
  color: #fff;
}

#hero {
  background-color: #1a1b1f;
}

#hero {
  background-color: #1a1b1f;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 80px;
}

/* footer */
footer {
  color: #fff;
  background-color: #1a1b1f;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.social {
  max-width: 30px;
  margin: 10px;
}

/* work */
.colmargin {
  margin: 25px 0;
}

.projectimage {
  max-width: 900px;
}

.projectimage2 {
  max-width: 600px;
}

.centerimage {
  text-align: center;
  display: block;
}

/* columns */
@media only screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
  }

  .wrapper-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 1em;
    text-align: left;
    align-items: center;
    margin: 35px 0;
  }

  .wrapper-2top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 1em;
    text-align: left;
    align-items: center;
    margin: 35px 0;
  }

  .wrapper-2topabout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 1em;
    text-align: left;
    align-items: center;
    margin: 35px 0;
    padding-top: 30px;
  }

  .wrapper-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 1em;
    align-items: center;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-2top {
    padding-top: 20px;
  }

  .wrapper-2topabout {
    padding-top: 20px;
  }
}
